AuthType Basic
AuthName "Thats protected Area!"
AuthUserFile /var/www/vhosts/prosushi1.kz/www/prosushi.kz/off/.htpasswd
Require valid-user
<Files .htpasswd>
   deny from all  #запрет доступа из браузера к .htpasswd
</Files>